@font-face {
  font-family: 'Ailerons';
  src: url('/fonts/Ailerons-Typeface.otf') format('opentype');
}

body {
  margin: 0;
  background-image: url('./BG.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}
