@font-face {
  font-family: 'Aeonik bold';
  src: url('/fonts/aeoniktrial-bold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik regular';
  src: url('/fonts/aeoniktrial-regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Ailerons';
  src: url('/fonts/Ailerons-Typeface.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Jetbrains';
  src: url('/fonts/JetBrainsMonoNL-Regular.ttf') format('truetype');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url('/BG.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
}

section {
  scroll-margin-top: 105px;
}
